<!DOCTYPE html>
<html>

<head>

    <title>Foodfy</title>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js" defer></script>
</head>

<body>

    <header class="admin-header">
        <div>
        <a class="logo" href="/admin/recipes"><img src="/logo-adm.png" alt=""></a>
        </div>

    </header>

    {% block content %}

    {% endblock %}  
    

</body>

</html>